@import "src/assets/style/_variables.scss";
@import "src/assets/style/_mixins.scss";

section {
  @include flex-col-center;
  width: 80%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  background-color: $tertiary-color;
  article {
    @include flex-col-center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    div {
      @include flex-center;
      width: 100%;
      gap: 1rem;
      padding: 1rem;
      img {
        width: 50%;
        border-radius: 0.5rem;
      }
      div {
        @include flex-col-center;
        align-items: start;
        gap: 1rem;
        width: 30%;
        font-size: 1.2rem;
        span {
          font-weight: bold;
          font-size: 1.5rem;
          color: $light;
          text-transform: capitalize;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
