@import "src/assets/style/_variables.scss";
@import "src/assets/style/_mixins.scss";

section {
  @include flex-col-center;
  width: 80%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  background-color: $tertiary-color;
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  input {
    width: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0 2rem;
    border-radius: 1rem;
  }
  div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
}
