@import "src/assets/style/_variables.scss";

main {
  width: 100%;
  min-height: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
}
