@import "src/assets/style/_variables.scss";
@import "src/assets/style/_mixins.scss";

#card {
  @include flex-col-center;
  width: 20%;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $dark;
  border-radius: 0.5rem;
  background-color: $primary-color;
  transform: scale(1);
  transition: 0.5s;
  &:hover {
    background-color: $tertiary-color;
    transform: scale(1.2);
    z-index: 1;
    transition: 0.5s;
    cursor: pointer;
  }
  button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $mid-dark;
      color: $dark;
      transition: 0.3s;
    }
  }
  img {
    width: 100%;
    border-radius: 0.5rem;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: $light;
    text-decoration: underline;
  }
  p {
    font-size: 1rem;
    color: $light;
  }
}
